<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update <%= category.name %></title>
</head>
<body>
    <form action="/categories/update/<%= category.id%>" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%= category.name || '' %>">

        <% if (locals.errors) { %>
                <ul>
                    <% errors.forEach(function(error) { %>
                    <li><%= error.msg %></li>
                    <% }); %>
                </ul>
        <% } %>

        <% if (locals.error) { %>
                <p><%= error %></p>
        <% } %>

        <button type="button" onclick="openUpdateModal()">
            update category
        </button>

        <div
            id="updateModal"
            style="
                display: none;
                position: fixed;
                inset: 0;
                background: rgba(0,0,0,0.4);
                align-items: center;
                justify-content: center;
            "
            >
            <div
                id="updateForm"
                style="
                    background: white;
                    padding: 20px;
                    border-radius: 8px;
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                "
            >
                <h3 id="updateModalTitle" style="margin: 0;">Confirm update</h3>

                <input
                    type="password"
                    name="adminPassword"
                    id="adminPassword"
                    placeholder="Admin password"
                    required
                />

                <div style="display: flex; gap: 10px; justify-content: flex-end;">
                    <button type="button" onclick="closeUpdateModal()">Cancel</button>
                    <button type="submit" style="background: #dc2626; color: white;">
                        update
                    </button>
                </div>
            </div>
        </div>
    </form>

    

    <script>
         // update functions
        function openUpdateModal(categoryId) {
            const modal = document.getElementById("updateModal");
            modal.style.display = "flex";
        }

        function closeUpdateModal() {
            document.getElementById("updateModal").style.display = "none";
        }

        document.getElementById("updateModal").addEventListener("click", e => {
            if (e.target.id === "updateModal") {
                closeUpdateModal()
            }
        })
    </script>
</body>
</html>